.add-list {

  &__popup {
    position: relative;
    width: 240px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    top: 0px;
    left: 10px;

    &-colors {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
    }

    &-close-btn{
      position: absolute;
      right: -8px;
      top: -8px;
      cursor: pointer;
    }

  }

  .button {
    width: 100%;
    margin-top: 15px;
  }

  .badge {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    
    &.active {
      border: 2px solid #525252;
    }
  }

}